@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}



table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse; /* tira a borda quando passa o mouse*/
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}



th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: transparent;
    color:red;
    
}

